.DS_Store

/blog/node_modules
/blog/prisma/migrations
/blog/.env


/notes/node_modules
/notes/prisma/migrations
/notes/.env

/tournament-pairing/node_modules
/tournament-pairing/prisma/migrations
/tournament-pairing/.env

/coffee/node_modules
/coffee/prisma/migrations
/coffee/.env
